<% if user.posts.any? %>
  <div class="pf-profile-posts">
    <% user.posts.order(created_at: :desc).each do |post| %>
      <%= link_to post_path(post), class: "pf-profile-post", data: { turbo: false } do %>
        <%= image_tag post.images.first %>

        <div class="overlay">
          <div class="stat">
            <i class="fa-solid fa-heart"></i>
            <span><%= post.likes.count %></span>
          </div>
          <div class="stat">
            <i class="fa-solid fa-comment"></i>
            <span><%= post.comments.count %></span>
          </div>
        </div>

        <% if post.images.count > 1 %>
          <div class="multi-indicator">
            <i class="fa-solid fa-images"></i>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="pf-profile-empty">
    <div class="icon">
      <i class="fa-solid fa-camera"></i>
    </div>
    <% if user == current_user %>
      <h2>Share Photos</h2>
      <p>When you share photos, they will appear on your profile.</p>
      <button type="button" class="pf-btn pf-btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Share your first photo
      </button>
    <% else %>
      <h2>No Posts Yet</h2>
      <p>When <%= user.username %> shares photos, you'll see them here.</p>
    <% end %>
  </div>
<% end %>
