<%# Create Post Modal %>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content pf-modal pf-create-modal">
      <%= form_with(model: post, html: { class: "pf-create-form" }, data: { controller: "filepond" }) do |form| %>

        <%# Modal Header %>
        <div class="modal-header pf-modal-header">
          <button type="button" class="pf-modal-back" data-bs-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-arrow-left"></i>
          </button>
          <h5 class="modal-title pf-modal-title" id="staticBackdropLabel">Create new post</h5>
          <%= form.submit "Share", class: "pf-modal-action" %>
        </div>

        <%# Modal Body %>
        <div class="modal-body pf-modal-body pf-create-body">
          <%# Image Upload Section %>
          <div class="pf-create-upload">
            <div class="pf-upload-dropzone" data-filepond-target="dropzone">
              <div class="pf-dropzone-content">
                <div class="pf-dropzone-icon">
                  <i class="fa-regular fa-images"></i>
                </div>
                <p class="pf-dropzone-text">Drag photos and videos here</p>
                <label class="pf-btn pf-btn-primary">
                  Select from computer
                  <%= form.file_field :images, multiple: true, id: "post-images", required: true, class: "pf-file-input", data: { filepond_target: "input" } %>
                </label>
              </div>
            </div>
          </div>

          <%# Caption & Settings Section %>
          <div class="pf-create-details">
            <%# User Info %>
            <div class="pf-create-user">
              <% if current_user.profile_pic.attached? %>
                <%= image_tag current_user.profile_pic, class: "pf-avatar pf-avatar-sm" %>
              <% else %>
                <%= image_tag 'user-pp.png', class: "pf-avatar pf-avatar-sm" %>
              <% end %>
              <span class="pf-create-username"><%= current_user.username %></span>
            </div>

            <%# Caption %>
            <div class="pf-create-caption">
              <%= form.text_area :caption,
                  rows: 8,
                  placeholder: "Write a caption...",
                  class: "pf-textarea",
                  maxlength: 2200 %>
              <div class="pf-caption-footer">
                <button type="button" class="pf-emoji-btn" title="Add emoji">
                  <i class="fa-regular fa-face-smile"></i>
                </button>
                <span class="pf-char-count">0/2,200</span>
              </div>
            </div>

            <%# Location %>
            <div class="pf-create-field">
              <%= form.text_field :location,
                  placeholder: "Add location",
                  class: "pf-input pf-input-icon" %>
              <i class="fa-solid fa-location-dot pf-input-icon-right"></i>
            </div>

            <%# Advanced Settings %>
            <div class="pf-create-settings">
              <button type="button"
                      class="pf-settings-toggle"
                      data-bs-toggle="collapse"
                      data-bs-target="#advancedSettings"
                      aria-expanded="false">
                <span>Advanced settings</span>
                <i class="fa-solid fa-chevron-down"></i>
              </button>

              <div class="collapse" id="advancedSettings">
                <div class="pf-settings-content">
                  <div class="pf-setting-item">
                    <div class="pf-setting-info">
                      <span class="pf-setting-label">Hide like count</span>
                      <span class="pf-setting-desc">Only you will see the total number of likes on this post</span>
                    </div>
                    <label class="pf-toggle">
                      <%= form.check_box :show_likes_count, class: "pf-toggle-input", checked: true %>
                      <span class="pf-toggle-slider"></span>
                    </label>
                  </div>

                  <div class="pf-setting-item">
                    <div class="pf-setting-info">
                      <span class="pf-setting-label">Turn off commenting</span>
                      <span class="pf-setting-desc">You can change this later in settings</span>
                    </div>
                    <label class="pf-toggle">
                      <%= form.check_box :allow_comments, class: "pf-toggle-input", checked: true %>
                      <span class="pf-toggle-slider"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <%# Errors %>
            <% if post.errors.any? %>
              <div class="pf-flash alert">
                <i class="fa-solid fa-circle-exclamation"></i>
                <span class="message">
                  <% post.errors.full_messages.each do |error| %>
                    <%= error %><br>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
