<div class="pf-suggestion-item">
  <%= link_to user_path(suggestion) do %>
    <% if suggestion.profile_pic.attached? %>
      <%= image_tag suggestion.profile_pic %>
    <% else %>
      <%= image_tag 'user-pp.png' %>
    <% end %>
  <% end %>

  <div class="info">
    <%= link_to suggestion.username, user_path(suggestion), class: "username", data: { turbo: 'false' } %>
    <span class="reason">Suggested for you</span>
  </div>

  <% if current_user.waiting_followings.include?(suggestion) %>
    <%= button_to cancel_request_path(user_id: suggestion.id), method: :delete, class: "follow-btn", data: { turbo: 'false' } do %>
      Requested
    <% end %>
  <% else %>
    <%= button_to follow_path(user_id: suggestion.id), method: :post, class: "follow-btn", data: { turbo: 'false' } do %>
      Follow
    <% end %>
  <% end %>
</div>
