<%# Current User Profile %>
<div class="pf-sidebar-profile">
  <%= link_to user_path(current_user) do %>
    <% if current_user.profile_pic.attached? %>
      <%= image_tag current_user.profile_pic %>
    <% else %>
      <%= image_tag 'user-pp.png' %>
    <% end %>
  <% end %>
  <div class="info">
    <%= link_to current_user.username, user_path(current_user), class: "username" %>
    <span class="name"><%= current_user.full_name %></span>
  </div>
  <%= link_to "Switch", "#", class: "switch-btn" %>
</div>

<%# Suggestions Header %>
<div class="pf-suggestions-header">
  <h3>Suggested for you</h3>
  <%= link_to "See All", "#" %>
</div>

<%# Suggestions List %>
<div class="pf-suggestions-list">
  <% suggestions.each do |suggestion| %>
    <%= render 'suggestions/suggestion', suggestion: suggestion %>
  <% end %>
</div>

<%# Footer Links %>
<div class="pf-sidebar-footer">
  <div class="links">
    <a href="#">About</a>
    <a href="#">Help</a>
    <a href="#">Press</a>
    <a href="#">API</a>
    <a href="#">Jobs</a>
    <a href="#">Privacy</a>
    <a href="#">Terms</a>
    <a href="#">Locations</a>
  </div>
  <p class="copyright">&copy; <%= Date.today.year %> PhotoFlare</p>
</div>
