<%= turbo_frame_tag "search_results" do %>
  <% if users.any? %>
    <div class="pf-search-results-list">
      <% users.each do |u| %>
        <%= link_to user_path(u), class: "pf-search-result-item", data: { turbo: false } do %>
          <% if u.profile_pic.attached? %>
            <%= image_tag u.profile_pic, class: "pf-avatar pf-avatar-md" %>
          <% else %>
            <%= image_tag 'user-pp.png', class: "pf-avatar pf-avatar-md" %>
          <% end %>
          <div class="pf-search-result-info">
            <span class="pf-search-result-username"><%= u.username %></span>
            <span class="pf-search-result-name"><%= u.full_name %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="pf-search-empty">
      <p>No results found</p>
    </div>
  <% end %>
<% end %>
